{% extends "layout.html" %} <!-- adding the created layout -->
{% block content %}

<img src="/static/maya.jpg" width="50px" height="=70px"/>  <p><b>mail:</b> lea.banquart@uha.fr  </br><b>mot de passe:</b> première-reine-des-abeilles </p>

<img src="/static/maya.jpg" width="50px" height="=70px"/>  <p><b>mail:</b> ulysse.coscoy@uha.fr   </br><b>mot de passe:</b> quatrième-butineur </p>

<img src="/static/maya.jpg" width="50px" height="=70px"/>  <p><b>mail:</b> bastien.bodino@uha.fr  </br><b>mot de passe:</b> deuxième-aide-à-la-reine </p>

<img src="/static/maya.jpg" width="50px" height="=70px"/>  <p><b>mail:</b> valentin.lauret@uha.fr  </br><b>mot de passe:</b> troisième-nourrice </p>

<img src="/static/maya.jpg" width="50px" height="=70px"/>  <p><b>mail:</b> maya.labeille@uha.fr     </br><b>mot de passe:</b>**************</p>
{% endblock %}