<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bee Helped</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
<header>
    <div class="container text-center fixed-top page-header">
        <h1 id="title">Bee Helped</h1>
    </div>
    <br/>
    <br/>
    <br/>
     <div>
        
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!--<a class="navbar-brand" href="{{url_for('index')}}">Home</a>-->

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{url_for('index')}}">Bee Helped </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('enDeveloppement')}}">Trouver une aide</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('enDeveloppement')}}">Discussion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('enDeveloppement')}}">Mes démarches</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('inscription')}}">Inscription</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('connexion')}}">Connexion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('visualisation')}}">Mon Compte</a>
            </li>
        </ul>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
    </div>

</header>
<div class="container" id="principal-block">
    {% block content %}
    {% endblock %}
</div>
<footer class="page-footer text-center fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h6> Créé par l'équipe l'Abeille Coule dans le cadre de la Nuit de l'Info.</h6>
                <h6> ENSISA, France, 2019/2020</h6>
            </div>
        </div>
    </div>
</footer>
</body>
</html>