{% extends "layout.html" %} <!-- adding the created layout -->
{% block content %}
<div class="alert alert-danger text-center" role="alert">Mauvais numéro !</div>
	<form action="{{url_for('redir_from_secret')}}" method="POST" class="text-center">
		<div class="form-group text-center">
			<h2>Page secrète</h2>
			<br/>
			<input type="text" name="numeroSecret">
			<div class="text-center">
				<br/>
				<button type="submit" class="btn btn-success text-center">Entrer</button>
			</div>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<h3 class="text-center">Trouvez le numéro de la star des abeilles</h3>
		</div>
	</form>
<p> Trouvez le numéro de la star des abeilles </p>
{% endblock %}