{% extends "layout.html" %}
{% block content %}
<h2 id="name">name + surname</h2>
<ul class="list-unstyled">
	<li id="birthDate">Date de naissance : </li>
	<li id="mail">Mail : </li>
	<li id="tel">Numéro de téléphone : </li>
	<li id="gender">Genre : </li>
	<li id="adress">Addresse : </li>
	<li id="nationality">Nationalité : </li>
	<li id="nSecu">Numéro de sécurité sociale :</li>
	<li id="nStudent">Numéro d'étudiant :</li>
	<li id="typeStudies">Type d'étude :</li>
	<li id="yearStudies">Années d'études :</li>
	<li id="bacMension">Mention au BAC :</li>
	<li id="earnings">Revenus :</li>
	<li id="parentEarnings">Revenus des parents :</li>
</ul>


{% endblock %}